@import "tailwindcss";

[data-theme="light"] {
    --primary-font-color: black;
    --secondary-font-color: white;
    --base-color: #155DFC;
    --bg-color: white;
    --fg-color: #F9FAFB;
    --hover-color: #155dfc;
    --hover-bg-color: #DFF2FE;
    --not-active-color: #d1d5dc;
}

[data-theme="dark"] {
    --primary-font-color: white;
    --secondary-font-color: black;
    --base-color: #155DFC;
    --bg-color: black;
    --fg-color: #060504;
    --hover-color: #155dfc;
    --hover-bg-color: #2a2b30;
    --not-active-color: #364153;
}